<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RequestUrl" value="http://local.englishtown.com/services/shared/queryproxy?c=countrycode=cc|culturecode=en|partnercode=None|siteversion=development"/>
    <!--<add key="RequestUrl" value="http://www.tplm123.com"/>-->

    <add key="ThreadCounts" value="5"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address = "http://www.baidu.com" maxconnection = "512" />
      <add address = "*" maxconnection = "512" />
    </connectionManagement>
    <!--<defaultProxy enabled="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>-->
  </system.net>
</configuration>